body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    line-height: 1.6;
}

hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #ccc;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8%;
    font-size: 15px;
    color: white;
    background-color: darkblue;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
}

button:hover {
    font-style:oblique;
    border: none;
    background-color: blue;
}